<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="castaldini.homeorganizationmobile">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddRoomActivity"
            android:label="@string/title_activity_add_room"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddStorageActivity"
            android:label="@string/title_activity_add_storage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OverallInfoActivity"
            android:label="@string/title_activity_overall_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RoomDetailActivity"/>
        <activity
            android:name=".StorageDetailActivity"/>
        <activity android:name=".ItemDetailActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".PrefsActivity"
            android:parentActivityName=".HomeActivity"
        />
        <activity android:name=".ScanBarcodeActivity" />
        <activity android:name=".BarcodeCaptureActivity" />
        <activity
            android:name=".GettingStartedActivity"
            android:label="@string/title_activity_getting_started"
            android:theme="@style/AppTheme.NoActionBar" />
        <service android:name=".services.SuggestionService"
            android:exported="false"/>
    </application>

</manifest>